body {
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(64,5,103,1) 96%);
}

h1:hover {
  background-color: palevioletred;
  -webkit-text-fill-color: white;
  transition: 0.5s;

}
      #list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .task {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        padding: 10px;
        margin: 10px;
        background-color: pink;
        border: 1px solid pink;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(95, 6, 122, 0.2);
      }
      .task input[type="checkbox"] {
        margin-right: 10px;
      }
      .task.finished {
        background-color: rgb(172, 95, 172);
        text-decoration: line-through;
      }
    